<% unless @article.errors.empty? %>
  <div class="errorExplanation" id="errorExplanation">
    <h2><%= _('This file couldn\'t be saved') %></h2>
    <ul>
      <% for msg in @article.errors.full_messages %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1><%= _('Publish media') %></h1>

<h3><%= _("Select the file you want to upload (max size %s):") % UploadedFile.max_size.to_humanreadable %></h3>
<p><%= _('Documents, Images, Videos, Audio') %><//p>

<p><%= (_('Uploading files to %s') % content_tag('code', @target)).html_safe%></p>

<%= form_for('uploaded_file', :url => { :action => 'upload_files' }, :html => {:multipart => true}) do |f| %>

  <input name="parent_id" id="parent_id" value="<%= params[:parent_id] %>" type="hidden">
  <input name="back_to" id="back_to" value="<%= params[:back_to] %>" type="hidden">

  <%= safe_join(@plugins.dispatch(:upload_files_extra_fields, params[:parent_id]).collect { |content| instance_exec(&content) }, "") %>

  <label id="midia-file"> <%= _('Media file:') %>
    <%= render :partial => 'upload_file', :locals => { :size => '45'} %>
  </label>

  <div class="metadata-fields">
    <h3><%= _('Metadata') %></h3>
    <label>
      <span class="hname"><%=_('Title')%>:</span>
      <div><%= text_field :article, :name %></div>
    </label>
    <%= render file: 'repository_plugin_metadata', locals: {f: f} %>
  </div>

  <%= button_bar do %>
    <%= submit_button :save, _('Upload'), :cancel => {:action => (@parent ? 'view' : 'index'), :id => @parent } %>
  <% end %>
<% end %>
