<% if @article.errors && !@article.errors.empty? %>
  <div class="errorExplanation" id="errorExplanation">
    <h2><%= _('This article couldn\'t be saved') %></h2>
    <ul>
      <% for msg in @article.errors.full_messages %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1><%= _('Publish a new content') %></h1>

<p><%= (_('Publishing to %s') % content_tag('code', @target)).html_safe%></p>

<%= form_for('article', url: {action: 'new'}, html: {multipart: true, id: 'repo-item-form'}) do |f| %>

  <input name="parent_id" id="parent_id" value="<%= params[:parent_id] %>" type="hidden">
  <input name="type" id="content-type" value="<%= params[:type] || 'TextArticle' %>" type="hidden" />
  <input name="back_to" id="back_to" value="<%= params[:back_to] %>" type="hidden">
  <script>
    function updateContentType(sel) {
      var opt = $('option', sel)[sel.selectedIndex];
      var cType = $(opt).attr('ctype');
      $('#content-type').val(cType);
      $('#content').attr({class: 'repo-content-'+cType});
      var preview = $('label[for="article_image_builder_uploaded_data"]').parent();
      if (cType === 'UploadedFile') {
        preview.hide();
        $('label[for="article_body"]').text(<%= _('Description').to_json %>);
      } else {
        preview.show();
        $('label[for="article_body"]').text(<%= _('Text').to_json %>);
      }
    }
  </script>

  <div class="metadata-fields">
    <label>
      <span class="hname"><%=_('Media type')%>:</span>
      <div><select name="metadata[Media type]" id="sel-repo-cont-type" onchange="updateContentType(this)">
        <option ctype="TextArticle"  value="Text document (web)"><%=_('Text document (web)')%></option>
        <option ctype="UploadedFile" value="Text document (file)"><%=_('Text document (file)')%></option>
        <option ctype="Event"        value="Event"><%=_('Event')%></option>
        <option ctype="TextArticle"  value="Question"><%=_('Question')%></option>
        <option ctype="TextArticle"  value="Comment"><%=_('Comment')%></option>
        <option ctype="TextArticle"  value="Person"><%=_('Person')%></option>
        <option ctype="UploadedFile" value="Still image"><%=_('Still image')%></option>
        <option ctype="UploadedFile" value="Video"><%=_('Video')%></option>
        <option ctype="UploadedFile" value="Sound"><%=_('Sound')%></option>
      </select></div>
    </label>
    <label>
      <span class="hname"><%=_('Title')%>:</span>
      <div><%= text_field :article, :name %></div>
    </label>
    <!-- label class="event-metadata">
      <span class="hname"><%=_('Event website:')%></span>
      <div><input name="event[link]" type="text"></div>
    </label -->
    <label class="event-metadata">
      <span class="hname"><%=_('Address:')%></span>
      <div><input name="event[address]" type="text"></div>
    </label>
    <label class="event-metadata" id="metadata-event-period">
      <span class="hname"><%=_('Period')%>:</span>
      <div><%= date_range_field(
        'event[start_date]',
        'event[end_date]',
        @article.respond_to?(:start_date) ? @article.start_date : nil,
        @article.respond_to?(:end_date) ? @article.end_date : nil,
        {time: true},
        {id: 'article_start_date'}
      )%></div>
    </label>
    <label class="upload-metadata">
      <span class="hname"><%=_('Upload file')%>:</span>
      <div><input name="uploaded_file" id="uploaded_file" size="45" type="file"></div>
    </label>
  </div>

  <%= render :partial => 'shared/lead_and_body' %>
  <script>
  $('label[for="article_image_builder_uploaded_data"]').text(<%= _('Preview Image').to_json %>+':');
  updateContentType($('#sel-repo-cont-type')[0]);
  </script>

  <%= safe_join(@plugins.dispatch(:upload_files_extra_fields, params[:parent_id]).collect { |content| instance_exec(&content) }, "") %>

  <div class="metadata-fields">
    <h3><%= _('Metadata') %></h3>
    <%= render file: 'repository_plugin_metadata', locals: {f: f} %>
  </div>

  <%= button_bar do %>
    <%= submit_button :save, _('Save'), cancel: {action: (@parent ? 'view' : 'index'), id: @parent } %>
  <% end %>
<% end %>
