    <label>
      <span class="hname"><%=_('Working groups')%>:</span>
      <div><%= text_field :metadata, 'Working groups' %>
        <small>
          <%=
            _('Please enter the city of the group, e.g. “Vienna”, “Geneva/Zurich”.').html_safe +
            _('Separate multiple groups with %s.').html_safe % '"<code>;</code>"'.html_safe
          %>
        </small>
      </div>
    </label>
    <label>
      <span class="hname"><%=_('Author')%>:</span>
      <div><%= text_field :metadata, 'Author' %>
        <small>
          <%=_('Please enter names in the form: <i>"surname, given name"</i>.').html_safe %>
          <%=_('For multiple authors seperate names with %s.').html_safe % '"<code>;</code>"'.html_safe %>
        </small>
      </div>
    </label>
    <label>
      <span class="hname"><%=_('Date')%>:</span>
      <% metadata = params[:metadata] || {} %>
      <% meta_date = (metadata[:Date].blank?) ? nil : Date.parse(metadata[:Date]) %>
      <div><%= date_field 'metadata[Date]', meta_date, {}, {id: 'metadata-date'} %></div>
    </label>
    <label>
      <span class="hname"><%=_('Source')%>:</span>
      <div><%= text_field :metadata, 'Source' %></div>
    </label>
    <label>
      <span class="hname"><%=_('Comment')%>:</span>
      <div><%= content_tag :textarea, name: 'metadata[Comment]', rows: 5 do
        params[:metadata][:Comment] unless params[:metadata].blank?
      end %></div>
    </label>
    <label>
      <span class="hname"><%=_('Place of production')%>:</span>
      <div><%= text_field :metadata, 'Place of production' %></div>
    </label>
    <label>
      <span class="hname"><%=_('Places mentioned')%>:</span>
      <div><%= text_field :metadata, 'Places mentioned' %></div>
    </label>
    <label>
      <span class="hname"><%=_('Names mentioned')%>:</span>
      <div><%= text_field :metadata, 'Names mentioned' %>
        <small>
          <%=_('Please enter names in the form: <i>"surname, given name"</i>.').html_safe %>
          <%=_('For multiple names seperate names with ";"').html_safe %>
        </small>
      </div>
    </label>

    <label id="input-tags">
      <span class="hname"><%= _('Tags') %>:</span>
      <div><%= render partial: 'shared/tags_field', locals: {f: f, value: []} %></div>
    </label>

    <label>
      <span class="hname"><%= _('License') %>:</span>
      <div><%= select(
        :article, :license_id, options_for_select_with_title(
          [[_('None'), nil]] +
          profile.environment.licenses.map {|license| [license.name, license.id]},
          nil
        )
      )%></div>
    </label>
